<div class="content-block" id="contact">
    <div class="container">
        

    </div>
</div>

<div id="social" class="content-block">
    <div class="container text-center">
        <div class="hexagon"><a href="#"><i class="fa fa-facebook"></i></a></div>
        <div class="hexagon"><a href="#"><i class="fa fa-twitter"></i></a></div>
        <div class="hexagon"><a href="#"><i class="fa fa-google-plus"></i></a></div>
        <div class="hexagon"><a href="#"><i class="fa fa-instagram"></i></a></div>
        <div class="hexagon"><a href="#"><i class="fa fa-pinterest"></i></a></div>
        <div class="hexagon"><a href="#"><i class="fa fa-envelope"></i></a></div>
    </div>
</div>
