<div id="gallery" class="content-block content-block-gray">
    <div class="container">
        <header class="block-heading cleafix">
            <a href="#" class="btn btn-o btn-lg pull-right">View All</a>
            <h1>My Collection</h1>
            <p>Keep up with the latest happenings.</p>
        </header>
        <section class="block-body">
            <div class="row">
                <div class="col-sm-4 blog-post">
                    <img src="./assets/img/bike_water1-1000x600.jpg" alt="Design Your Mind">
                    <a href="#"><h2>Design Your Mind</h2></a>
                    <div class="date">3 Nov, 2014</div>
                </div>
                <div class="col-sm-4 blog-post">
                    <img src="./assets/img/mac_glasses1-1000x600.jpg" alt="Winter Is Comming">
                    <a href="#"><h2>Winter Is Comming</h2></a>
                    <div class="date">3 Nov, 2014</div>
                </div>
                <div class="col-sm-4 blog-post">
                    <img src="./assets/img/road-1000x600.jpg" alt="The Illustration">
                    <a href="#"><h2>The Illustration</h2></a>
                    <div class="date">3 Nov, 2014</div>
                </div>
            </div>
        </section>
    </div><!--/container-->
</div><!-- /.content-block content-blog-gray -->