<div id="about" class="content-block content-block-cyan">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>The winter photographer</h1>
                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis.
                </p>
            </div>
        </div>
    </div>
</div>


<div id="projects" class="recent-projects">
    <div class="recent-projects-title">
        Recent Projects
    </div>

    <div class="recent-projects-content content-block-gray">
        <div id="owl-example" class="owl-carousel">
            <div>
                <img src="./assets/img/recent1.jpg" alt="">
                <a href="#">Cartoon de loop</a>
            </div>
            <div>
                <img src="./assets/img/recent2.jpg" alt="">
                <a href="#">In to the snow</a>
            </div>
            <div>
                <img src="./assets/img/recent3.jpg" alt="">
                <a href="#">girl in sunset</a>
            </div>
            <div>
                <img src="./assets/img/recent4.jpg" alt="">
                <a href="#">Tools</a>
            </div>
            <div>
                <img src="./assets/img/recent5.jpg" alt="">
                <a href="#">Sunrise in west</a>
            </div>
            <div>
                <img src="./assets/img/recent6.jpg" alt="">
                <a href="#">girl in sunset</a>
            </div>
            <div>
                <img src="./assets/img/recent4.jpg" alt="">
                <a href="#">Lorem Ipsum</a>
            </div>
        </div>
    </div>
</div><!-- /.recent-projects -->
